[Unit] 
Description=LimitTV
After=network.target

[Service]
WorkingDirectory=/home/pi/tvlimit/
User=pi
Type=idle
ExecStart=/usr/sbin/tvlimit

[Install]
WantedBy=multi-user.target
